.layout-cf-3col-stacked > .layout-cf-content-top,
.layout-cf-3col-stacked > .layout-cf-content-bottom {
  width: 100%;
  clear: both;
}

.layout-cf-3col-stacked > .layout-cf-content-left {
  float: left;
  clear: none;
  width: 25%;
  margin-left: -100%;
}

.layout-cf-3col-stacked > .layout-cf-content-right {
  float: left;
  clear: none;
  width: 25%;
  margin-left: -25%;
}

.layout-cf-3col-stacked > .layout-cf-content-middle {
  float: left;
  clear: none;
  width: 100%;
}

.layout-cf-3col-stacked.layout-cf-sidebar-left > * > * {
  margin-left: 25%;
}

.layout-cf-3col-stacked.layout-cf-sidebar-right > * > * {
  margin-right: 25%;
}

